<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">

    <title>BDC</title>
</head>

<body>



    <div class="container-fluid">

        <div class="container">


            <h3 class="text" style="color: white;">_____________________________________________________</h3>
            <h3 class="text" style="color: white;">Aqui encotraras los Jquerys que te ayudaran en el dia a dia</h3>
            <h3 class="text" style="color: white;">selecciona una linea y empieza a buscar.</h3>
            <div class="container">
                <h2 class="title" style="color: white;">Lineas De Negocio</h2>
                <div class="row g-3">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <!-- frente de la tarjeta -->
                                    <img src="./assets\images\procesostecnicos_icono.png" alt="imagen">
                                    <!-- Imagen frontal -->
                                </div>
                                <div class="flip-card-back">
                                    <!-- reverso de la tarjeta -->
                                    <div class="row no-gutters">
                                        <div class="card-body">
                                            <h5 class="card-title"><b>Procesos Tecnicos</b></h5>
                                            <p class="card-text pl-2 mt-2">
                                                en blanco por ahora
                                            </p>
                                            <button [routerLink]="'/home/galeriaPT'" class="btn btn-outline-success">entrar</button>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <!-- frente de la tarjeta -->
                                    <img src="./assets\images\titulosvalores_icono.png" alt="imagen">
                                    <!-- Imagen frontal -->
                                </div>
                                <div class="flip-card-back">
                                    <!-- reverso de la tarjeta -->
                                    <div class="row no-gutters">
                                        <div class="card-body">
                                            <h5 class="card-title"><b>Titulos Valores</b></h5>
                                            <p class="card-text pl-2 mt-2">almacenamiento y custodia de información física y digital, ofrecida a nuestros clientes con medidas adecuadas para garantizar la conservación documental.</p>
                                            <button [routerLink]="'/home/galeriaTV'" class="btn btn-outline-success">entrar</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <!-- frente de la tarjeta -->
                                    <img src="./assets\images\gestiondocumental_icono.png" alt="imagen">
                                    <!-- Imagen frontal -->
                                </div>
                                <div class="flip-card-back">
                                    <!-- reverso de la tarjeta -->
                                    <div class="row no-gutters">
                                        <div class="card-body">
                                            <h5 class="card-title"><b>Gestion documental</b></h5>
                                            <p class="card-text pl-2 mt-2">en blanco por ahora</p>
                                            <button [routerLink]="'/home/galeriaGD'" class="btn btn-outline-success">entrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br>
</body>

</html>