/*@import "~prismjs/themes/prism-tomorrow.css";*/

@import "~prismjs/themes/prism-okaidia";
@import "~prismjs/plugins/toolbar/prism-toolbar.css";
input.ng-touched.ng-invalid {
    border-color: red;
    border-width: 2px;
}

input.ng-valid {
    border-color: green;
    border-width: 2px;
}

html,
body {
    height: 70%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}